<div>
  <table class="table table-striped table-hover pull-left table-bordered mid-table">
  <tr>
  <th>№</th>
  <th>Никнейм</th>
  <!-- <th>Password</th> -->
  <th>Имя</th>
  <th>Позиция</th>
  <th></th>
  </tr>
  <% index=0; @users.each do |u| %>
      <%  index=index+1 %>
      <tr>
      <td><%= index %></td>
      <td class="login_row"><%= u.login %></td>
      <td class="last_name_row"><%= u.last_name %></td>
      <td><%= u.position %></td>
      <td><%= button_to "Профиль", user_path(u), :class=>"btn btn-small btn-inverse", :method=>"get" %></td>
      </tr>
  <% end %>
   </table>
 </div>
