<div>
  <table class="table table-striped table-hover pull-left table-bordered">
  <tr>
  <th>№</th>
  <th>Login</th>
  <!-- <th>Password</th> -->
  <th>First Name</th>
  <th>Last Name</th>
  <th>Position</th>
  <th></th>
  </tr>
  <% index=0; @users.each do |u| %>
      <%  index=index+1 %>
      <tr>
      <td><%= index %></td>
      <td class="login_row"><%= u.login %></td>
      <!-- <td class="password_row"><%= u.password %></td> -->
      <td class="first_name_row"><%= u.first_name %></td>
      <td class="last_name_row"><%= u.last_name %></td>
      <td><%= u.position %></td>
      <td><%= link_to "details", user_path(u) %></td>
      </tr>
  <% end %>
   </table>
 </div>
