<a href="<%= users_path %>" class="btn "><i class="icon-white icon-backward"></i> Назад к списку футболистов</a>
<dl class="dl-horizontal common-text">
  <dt>Никнейм:</dt>
  <dd><%= @user.login %></dd>
  <dt>Имя:</dt>
  <dd><%= @user.first_name %></dd>
  <dt>Фамилия:</dt>
  <dd><%= @user.last_name %></dd>
  <dt>Позиция:</dt>
  <dd><%= @user.position%></dd>
</dl>