<div class="home_feed"> 
  <div class="hero-unit">
    <h1>Samara Football</h1>
    <% if current_user.nil? %>
    <!-- Not logged in: -->
    <h3>Приветствую тебя, аноним!</h3>
    <p>
      <ol>
        <li>Зарегистрируйся (правый верхний угол)
          <li>Войди под своим логином
            <li>Баги, отзывы и предложения шли на <strong>TheRusskiy@gmail.com</strong>
      </ol>
    </p>

    <% else %>
    <!-- Logged in: -->
    <h3>Приветствую тебя, <%= current_user.first_name  %>!</h3>
    <p>
      <ol>
        <li>Редактируй профиль, нажав на свой никнейм (в правом верхнем углу)
          <li>Создай матч / Прими участие в уже созданном
            <li>Баги, отзывы и предложения шли на <strong>TheRusskiy@gmail.com</strong>
      </ol>
    </p>
    <% end %>     

  </div>

  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"> <%= image_tag("img1.jpg")  %></div>
      <div class="item"><%= image_tag("img2.jpg")  %></div>
      <div class="item"><%= image_tag("img3.jpg")  %></div>
      <div class="item"><%= image_tag("img4.jpg")  %></div>
      <div class="item"><%= image_tag("img5.jpg")  %></div>
      <div class="item"><%= image_tag("img6.jpg")  %></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div> <!-- /home_feed -->
<script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel({
			  interval: 4000
			})
        })
      }(window.jQuery)
    </script>