
<%= form_for(@game) do |f| %>

<div class="field">
  <%= f.label "Дата" %><br />
  <%= f.date_select :date, :discard_year=> true, :value => @game.date %>
</div>
<div class="field">
<%= f.label "Время проведения" %><br />
<%= f.time_select :time, :value => @game.time%>
</div>
<div class="field">
  <%= f.label "Место" %><br />
  <%= f.text_field :place, :placeholder => "e.g. Торпедо" ,:value => @game.place%>
</div>
<div class="field">
<%= f.label "Стоимость" %><br />
<%= f.number_field :price, :min => 0, :max => 10000, :value => 0, :step =>50, :value => @game.price||0%>
</div>
<div class="actions">
  <%= f.submit "Создать матч", :confirm => "Проверь дважды!", :action=>games_path, :method =>"post", :class => 'btn btn-success'%>
</div>
    <%= f.hidden_field :login, :name=> "user[login]", :value => current_user.login %>
    <%= f.hidden_field :password, :name=> "user[password]", :value => current_user.password %>
<% end %>

<!--<script>$("#new_game_date_input").mask("99/99/9999")</script>-->
