<div>
  <table id="game_users_table" class="table table-striped table-hover pull-left table-bordered mid-table">
  <tr>
  <th>№</th>
  <th><%= (t 'user_first_name') %></th>
  <th><%= (t 'user_last_name') %></th>
  <th><%= (t 'user_position') %></th>
  </tr>
  <% n=0 %>
  <% @users.each do |u| %>
      <% n=n+1 %>
      <tr>
      <td><%= n %></td>
      <td><%= u.first_name %></td>
      <td><%= u.last_name %></td>
      <td><%= u.position %></td>
      </tr>
  <% end %>
   </table>
 </div>