
<blockquote class ="common-text">
    <p> <strong><%= (t 'game_date') %>: </strong></p>
    <p><%= @game.date %></p>
    <p>  <strong><%= (t 'game_time') %>:  </strong></p>
    <p><%= @game.time_string %>:</p>
    <p> <strong><%= (t 'game_place') %>:  </strong> </p>
    <p><%= @game.place %>:</p>
    <p> <strong><%= (t 'game_price') %>:  </strong></p>
    <p><%= @game.price %></p>
</blockquote>
<!--<script>$("#new_game_date_input").mask("99/99/9999")</script>-->
