<!--<dl class="dl-horizontal common-text text-overflow">-->
  <!--<dt><%= (t 'game_date') %>:</dt>-->
  <!--<dd><%= @game.date %></dd>-->
  <!--<dt><%= (t 'game_time') %>:</dt>-->
  <!--<dd><%= @game.time_string %>:</dd>-->
  <!--<dt><%= (t 'game_place') %>:</dt>-->
  <!--<dd><%= @game.place %>:</dd>-->
  <!--<dt><%= (t 'game_price') %>:</dt>-->
  <!--<dd><%= @game.price %></dd>-->
<!--</dl>-->
<blockquote class ="common-text">
    <p> <strong><%= (t 'game_date') %>: </strong></p>
    <p><%= @game.date %></p>
    <p>  <strong><%= (t 'game_time') %>:  </strong></p>
    <p><%= @game.time_string %>:</p>
    <p> <strong><%= (t 'game_place') %>:  </strong> </p>
    <p><%= @game.place %>:</p>
    <p> <strong><%= (t 'game_price') %>:  </strong></p>
    <p><%= @game.price %></p>
</blockquote>
<!--<script>$("#new_game_date_input").mask("99/99/9999")</script>-->
