<div id="game_table_div">
  <table id="game_table" class="table table-striped table-hover pull-left table-bordered">
  <tr>
  <th>№</th>
  <th>Date</th>
  <th>Place</th>
  <th>Price</th>
  <th>Time</th>
  <th></th>
  </tr>
  <% index=0; @games.each do |u| %>
      <tr>
      <%  index=index+1 %>
      <td><%= index %></td>
      <td class="date_row"><%= u.date %></td>
      <td class="place_row"><%= u.place %></td>
      <td class="price_row"><%= u.price %></td>
      <td class="time_row"><%= u.time_string %></td>
      <td class="time_row"><%= link_to "details", game_path(u) %></td>
      </tr>
  <% end %>
   </table>
 </div>
