<div id="game_show_form">
  <a href="<%= games_path %>" class="btn "><i class="icon-white icon-backward"></i> <%= t 'game_back_to_index' %></a>
  <%= render 'info' %>
  <%= render 'game_users' %>
  <!--REGISTER FOR A GAME BUTTON:-->
  <% if can_register?(@game, current_user)%>
  <%= form_tag(register_for_a_game_path(@game.id, current_user.id), :method => 'post') do%>
    <%= submit_tag (t 'game_will_come'), :class => "btn btn-success" %>
    </form>
  <% end %>
  <% end %>
  <!--UNREGISTER FROM A GAME BUTTON:-->
  <% if can_unregister?(@game, current_user)%>
  <%= form_tag(unregister_from_a_game_path(@game.id, current_user.id), :method => 'delete') do%>
    <%= submit_tag (t 'game_wont_come'), :class => "btn btn-danger" %>
    </form>
  <% end %>
  <% end %>
  <!-- Only creator can edit and delete -->
  <% if current_user.id==@game.creator  %>

    <!--<ul class="nav pull-left">-->

    <!-- Edit -->
    <%= form_tag(edit_game_path(@game), :method => 'get') do%>
      <%= submit_tag (t 'game_edit_button'), :class => "btn btn-warning" %>
      <!--</form>-->
    <% end %>

    <!-- Delete -->
    <%= form_tag(game_path(@game), :method => 'delete') do%>
      <%= submit_tag (t 'game_delete_button'), :confirm => (t 'are_you_sure'), :class => "btn btn-danger" %>
      <!--</form>-->
    <% end %>

  <% end %>

</div>